**::after
**::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family:'Lato';
    color: black;
}
.contact-link {
    color: black;
}

.contact {
    display: flex;
    gap: 30px;
    align-items: end;
}

.contact-link svg {
    width: 40px;
    height: 40px;
    color: #5a1616;
    align-items: end;
}

.left-section, .right-section {
    flex: 1;
}

.right-section {
    display: flex;
    justify-content: flex-end; /* Cambiado de flex-end a flex-start */
    align-items: end;
    padding-right: 20px;
}


.left-section {
    display: flex;
    align-items:start;
    padding-left: 20px;
}

.left-section img{
    width: 200px;
}

.center-section {
    flex: 2;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 10px;
    width: 100%;
}

header h1{
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.container-icon img{
    max-width: 300px;
    border-radius: 10px;
}

.icon-cart{
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
}


/*display: flex; */

.contact{
    align-items: center;
}

.contact-item{
    width: 20px;
    align-items: left;
}





/*  Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 40px;

}

.item{
    border-radius: 10px;
    flex-direction: column;
    display: flex;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(124, 16, 16, 0.2);
}


.item img{
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .4s;
    padding: 5px;
}

.item figure{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 80%;
}

.item:hover img{
    transform: scale(1.1);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.price{
    font-size: 19px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.foot {
    background-color: black;
}


/* Media Queries */

/* Tablets */

@media (max-width: 768px) {
    .center-section {
        flex: 1;
    }

    .container-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item img {
        height: auto;
    }
    
    figure {
        max-width: 90%; /* Ajusta el ancho en pantallas más pequeñas */
    }

    figure figcaption {
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente en pantallas más pequeñas */
    }
}


/* Mobile Phones */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    figure {
        max-width: 90%; /* Ajusta aún más el ancho en pantallas muy pequeñas */
        max-height: 150px;
    }

    figure figcaption {
        font-size: 0.8rem; /* Ajusta aún más el tamaño de la fuente en pantallas muy pequeñas */
    }
    .item img{
        height: 120px;
    }
}